.main {
    background: #202736;
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}

.main::before {
    content: '';
    position: fixed;
    background: url(../public/images/svg/star.svg);
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .forest {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../public/images/svg/forest.svg) bottom left repeat-x;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

.container {
    position: absolute;
    width: 85vw;
    margin: 10% 9%;
    padding: 10px;
    display: flex;
}


.image {
    width: 85%;
    margin: 30px;
}

.image img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    transition: box-shadow 500ms ease, border-radius 500ms ease;
}

.image img:hover {
    box-shadow: 0 4px 8px 0 rgba(214, 214, 214, 0.438), 0 6px 20px 0 rgba(233, 233, 233, 0.19);
    border-radius: 1%;
    cursor: pointer;
}

.about {
    margin: 20px;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    
}

.description{
    background-color: rgba(24, 29, 35, 0.5);
    border-radius: 5px;
    text-align: left;
    word-spacing: .5px;
    margin-bottom:40px;
    padding: 10px;
    color: rgb(197, 197, 197);
    /* font-size: 24px; */
    font-size: 1.6em;
}

.description span{
    color: white;
}

.social {
    display: flex;
    width: 50vw;
    justify-content: center;
}

.ico {
    color: white;
    margin: 10px 30px;
    width: 30px;
    font-size: 35px;

    transition: color 500ms ease, transform 500ms ease;
}

.ico:hover {
    color: rgba(230, 230, 230, 0.781);
    transform: scale(1.1);
}


@media (max-width: 1400px) {
    .description {
        font-size: 18px;
    }
}


@media (max-width: 500px) {
    .container {
        flex-direction: column;
        margin: 20% 0 20% 1%;
        padding: 0;
    }
    .about{
        margin: 10px 0px 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .description {
        order: 1;
        font-size: 17px;
        padding: 5px;
    }

    .social{
        order: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .ico {
        font-size: 19px;
        margin: 5px 17px;
        margin-bottom: 5px;
    }


    .forest {
        width: 100vw;
    }

}