.nav {
  position: fixed;
  height: 50px;
  padding: 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  top: 0;
  z-index: 10;
  font-family: 'Roboto Mono', monospace;
  color: aliceblue;
}

.bg {
  background: var(--nav-dark);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.noBg {
  background: none;
}

.logo {
  order: 1;
  flex: 1;
  /* margin-left: 10px; */
  /* margin-top: 5px; */
  color: whitesmoke;
}


.logo img{
  width: 120px;
}

.logo img:hover {
  cursor: pointer;
}

.logo a {
  color: white;
}

.links {
  order: 2;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li {
  margin: 5px 55px 5px 0px;
}

.nav ul li a {
  color: white;

  transition: color 500ms ease;
}

.nav ul li a:hover{
  color: rgba(184, 184, 184, 0.5);
}